h1 {
  color: rgb(255, 213, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-variant: small-caps;
  font-size: 38px;
  text-align: center;
  background-color: rgba(143, 126, 126, 0.783);
}
p {
  font-style: italic;
  font-weight: 300;
  font-size: 28px;
}
